/* 全局设置 */
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #eeeeee;
	overflow-x: hidden;
}
/* 导航栏设定 */
.navbar {
	position: absolute;
	top: 0;
	width: 100%;
}
@media (min-width: 768px) {
	.navbar {
	  top: 15px;
	  left: 15%;
	  width: 70%;
	  position: absolute;
	  border-radius: 5px;
	}	
}
@media (min-width: 992px) {
	.navbar {
	  top: 15px;
	  left: 10%;
	  width: 80%;
	  position: absolute;
	  border-radius: 5px;
	}	
}

/* 滚动条设定 */
.carousel {
  height: 40%;
  margin-bottom: 10px;
}
.carousel-inner {
	height: 100%;
}

.carousel .item {
  height: 100%;
}
.carousel-inner > .item > img {
  min-width: 100%;
  height: 100%;
}
/* home设定 */
.row {
	padding: 10px;
	/*height: 100%;*/
}
.col-md-5 {
	padding: 3%;
	height: 100%;
}
.col-md-5 > img {
	width: 100%;
	height: 100%;
}
.col-md-5 > h2 {
	height: 50%;
}
/* 分割线设定 */
.featurette-divider {
	border: 0;
	background-color: #e0e0e0;
	height: 1px;
	width: 80%;
}

/* menu设定 */
.thumbnail {
	background-color: #eeeeee; 
	height: auto;
    border: 0;
}
.text-center > a {
	margin: 2%;
}

/* footer设定 */
address {
	margin-bottom: 0; 
}
/* 控制页面显示 */
#mainHome {
	/*display: none;*/
	display: inline;
}
#mainMenu {
	display: none;
}