<script type='text/javascript'>
//    var mainAddGoods = window.parent.document.getElementById('mainPage');
//    mainAddGoods.innerHTML =
//      "<div><a href='javascript:;' onclick='addImg()'>[+]</a>"
//    + "图片描述 <input type='text' name='img_desc[]' size='20'>"
//    + "上传文件 <input type='file' name='img_url[]' multiple=''></div>"
//    + "<div><a href='javascript:;' onclick='subImg(this)'>[-]</a>"
//    + "图片描述 <input type='text' name='img_desc[]' size='20'>"
//    + "上传文件 <input type='file' name='img_url[]' multiple='' ><div>";

    var mainAddGoods = window.parent.document.getElementById('mainPage');
    mainAddGoods.innerHTML =
              "<div class='row featurette'>"
              + "<div class='col-md-1'></div>"
              + "<div class='col-md-3'>"
              + "<h2 class='featurette-heading'>Goods Add</h2>"
              + "</div>"
              + "</div>"
              + "<form action='index.php?c=goods&a=insert' method='post' role='form' class='form-horizontal' enctype='multipart/form-data'>"
              + "<div class='row'>"
              + "<div class='col-sm-1 col-xs-1'></div>"
              + "<fieldset id='categoryFieldset' class='col-sm-10 col-xs-10'>"
              + "<!-- 商品名称 -->"
              + "<div class='form-group row'>"
              + "<label for='goodsName' class='col-sm-2 col-xs-5 control-label'>Goods name:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<input type='type' id='goodsName' name='goods_name' class='form-control' placeholder='please input your goodsName'>"
              + "<span class='' id='goodsNameSpan'></span>"
              + "<span id='goodsNameMessage' style='color: red'></span>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 选择分类级别 -->"
              + "<div class='form-group row'>"
              + "<label for='categoryParentRank' class='col-sm-2 col-xs-5 control-label'>Category Rank:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<div class='dropdown'>"
              + "<button class='btn btn-default dropdown-toggle btn-block' type='button' id='dropdownMenu1' data-toggle='dropdown'>"
              + "<span id='chooseParentRank'>Choose Category Rank</span>"
              + "<span class='caret'></span>"
              + "</button>"
              + "<ul class='dropdown-menu' role='menu' aria-labelledby='dropdownMenu1'>"
              +" <?php foreach($ranks as $rank) : ?>"
              + "<li><a tabindex='-1' href='#' onclick=\"showPage('index.php?c=category&a=showParent&cat_rank=<?php echo $rank;?>')\"><?php echo $rank;?></a></li>"
              + "<?php endforeach;?>"
              + "</ul>"
              + "</div>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 选择分类 -->"
              + "<div class='form-group row'>"
              + "<label for='categoryParentID' class='col-sm-2 col-xs-5 control-label'>Choose Category:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<select id='categoryParentID' name='cat_id' class='form-control'>"
              + "<option value='0'>Choose Category</option>"
              + "</select>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 选择品牌 -->"
              + "<div class='form-group row'>"
              + "<label for='brandID' class='col-sm-2 col-xs-5 control-label'>Choose Brand:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<select id='brandID' name='brand_id' class='form-control'>"
              + "<option value='0'>Choose Brand</option>"
              + " <?php foreach($brands as $brand) : ?>"
              + "<option value='<?php echo $brand['brand_id']?>'><?php echo $brand['brand_name']?></option>"
              + "<?php endforeach;?>"
              + "</select>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 市场价格 -->"
              + "<div class='form-group row'>"
              + "<label for='marketPrice' class='col-sm-2 col-xs-5 control-label'>Market Price:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<input type='type' id='marketPrice' name='market_price' class='form-control' placeholder='please input your marketPrice' onkeyup=\"value=value.replace(/[^\\d{1,}\\.\\d{1,}|\\d{1,}]/g,'')\">"
              + "<span class='' id='marketPriceSpan'></span>"
              + "<span id='marketPriceMessage' style='color: red'></span>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 本店价格 -->"
              + "<div class='form-group row'>"
              + "<label for='shopPrice' class='col-sm-2 col-xs-5 control-label'>Shop Price:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<input type='type' id='shopPrice' name='shop_price' class='form-control' placeholder='please input your shopPrice' onkeyup=\"value=value.replace(/[^\\d{1,}\\.\\d{1,}|\\d{1,}]/g,'')\" >"
              + "<span class='' id='shopPriceSpan'></span>"
              + "<span id='shopPriceMessage' style='color: red'></span>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 商品数量 -->"
              + "<div class='form-group row'>"
              + "<label for='goodsNumber' class='col-sm-2 col-xs-5 control-label'>Goods number:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<input type='type' id='goodsNumber' name='goods_number' class='form-control' placeholder='please input your goodsNumber' onkeyup=\"this.value=this.value.replace(/\\D/g,'')\" onafterpaste=\"this.value=this.value.replace(/\\D/g,'')\" >"
              + "<span class='' id='goodsNumberSpan'></span>"
              + "<span id='goodsNumberMessage' style='color: red'></span>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 商品属性 -->"
              + "<div class='form-group row'>"
              + "<label for='goodsAttr' class='col-sm-2 col-xs-5 control-label'><a href='javascript:;' onclick='addAttr()'>[+]</a>Goods Attr:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
                  + "<div id='attr_group'>"
                  + "<div>"
                  + "<!-- 属性名称 -->"
                  + "<div class='form-group row'>"
                  + "<label for='goodsAttrName' class='col-sm-3 col-xs-5 control-label'>Attr name:</label>"
                  + "<div class='col-sm-9 col-xs-12'>"
                  + "<input type='type' id='goodsAttrName' name='attr_name[]' class='form-control' placeholder='please input your attrName'>"
                  + "<span class='' id='goodsNameSpan'></span>"
                  + "<span id='goodsNameMessage' style='color: red'></span>"
                  + "</div>"
                  + "</div>"
                  + "<!-- 属性值 -->"
                  + "<div class='form-group row'>"
                  + "<label for='goodsName' class='col-sm-3 col-xs-5 control-label'>Attr value:</label>"
                  + "<div class='col-sm-9 col-xs-12'>"
                  + "<input type='type' id='goodsAttrName' name='attr_value[]' class='form-control' placeholder='值之间使用英文逗号隔开'>"
                  + "<span class='' id='goodsNameSpan'></span>"
                  + "<span id='goodsNameMessage' style='color: red'></span>"
                  + "</div>"
                  + "</div>"
                  + "</div>"
                  + "</div>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 商品描述 -->"
              + "<div class='form-group row'>"
              + "<label for='goodsDesc' class='col-sm-2 col-xs-5 control-label'>Goods desc:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<textarea id='goodsDesc' name='goods_desc' class='form-control' rows='10' placeholder='please input your desc'></textarea>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- 商品相册 -->"
              + "<div class='form-group row' id='goodsImgs' >"
              + "<label for='img_url' class='col-sm-2 col-xs-5 control-label'><a href='javascript:;' onclick='addImg()'>[+]</a>Goods galary:</label>"
              + "<div class='col-sm-9 col-xs-12'>"
              + "<input type='file' id='img_url' name='img_url[]' class='form-control'>"
              + "</div>"
              + "<div class='col-sm-1 col-xs-0'></div>"
              + "</div>"
              + "<!-- submit -->"
              + "<div class='form-group row'>"
              + "<div class='col-sm-offset-2 col-xs-offset-0 col-sm-9 col-xs-12'>"
              + "<button type='submit' class='btn btn-primary btn-block'>Add</button>"
              + "</div>"
              + "</div>"
              + "</fieldset>"
              + "<div class='col-sm-1 col-xs-1'></div>"
              + "</div>"
              + "</form>";
</script>