<script type='text/javascript'>
    var mainListGoods = window.parent.document.getElementById('mainPage');
    mainListGoods.innerHTML =
            "        <div class='row featurette'>"
            +"            <div class='col-md-1'></div>"
            +"            <div class='col-md-3'>"
            +"                <h2 class='featurette-heading'>Goods List</h2>"
            +"            </div>"
            +"        </div>"
            +"        <div class='row'>"
            +"            <div class='col-sm-2 col-xs-0'></div>"
            +"            <div class='col-sm-8 col-xs-12'>"
            +"                <table class='table table-hover'>"
            +"                    <thead>"
            +"                        <tr class='info'>"
            +"                            <th>Goods name</th>"
            +"                            <th>Goods id</th>"
            +"                            <th>Cate id</th>"
            +"                            <th>Brand id</th>"
            +"                            <th>Option</th>"
            +"                        </tr>"
            +"                    </thead>"
            +"                    <tbody>"
            +"                      <?php foreach($allGoods as $goods) : ?>"
            +"                        <tr>"
            +"                            <td><?php echo $goods['goods_name'];?></td>"
            +"                            <td><?php echo $goods['goods_id'];?></td>"
            +"                            <td><?php echo $goods['cat_id'];?></td>"
            +"                            <td><?php echo $goods['brand_id'];?></td>"
            +"                            <td>"
            +"                              <a href='#' onclick=\"showPage('index.php?c=goods&a=edit&goods_id="
            +                              "<?php echo $goods['goods_id'];?>"
            +                              "')\""
            +"                              title='edit'>edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            +"                              <a href='#' onclick=\"showDialog('确定要删除吗?','index.php?c=goods&a=delete&goods_id="
            +                              "<?php echo $goods['goods_id'];?>"
            +                              "')\""
            +"                               title='delete'>delete</a>"
            +"                           </td>"
            +"                        </tr>"
            +"                      <?php endforeach;?>"
            +"                    </tbody>"
            +"                    <tfoot>"
            +"                        <tr>"
            +"                            <td colspan='4'>"
//            +"                                <nav class='navbar-right'>"
//            +"                                    <ul class='pagination'>"
//            +"                                        <li id='previousLi' class='disabled'><a id='previous' onclick='changeEmployee(this)' href='#'>&laquo;</a></li>"
//            +"                                        <li class='active'><a id='one' onclick='changeEmployee(this)' href='#'>1</a></li>"
//            +"                                        <li><a id='two' onclick='changeEmployee(this)' href='#'>2</a></li>"
//            +"                                        <li><a id='three' onclick='changeEmployee(this)' href='#'>3</a></li>"
//            +"                                        <li><a id='four' onclick='changeEmployee(this)' href='#'>4</a></li>"
//            +"                                        <li><a id='five' onclick='changeEmployee(this)' href='#'>5</a></li>"
//            +"                                        <li><a id='six' onclick='changeEmployee(this)' href='#'>6</a></li>"
//            +"                                        <li><a id='seven' onclick='changeEmployee(this)' href='#'>7</a></li>"
//            +"                                        <li><a id='eight' onclick='changeEmployee(this)' href='#'>8</a></li>"
//            +"                                        <li id='nextLi'><a id='next' onclick='changeEmployee(this)' href='#'>&raquo;</a></li>"
//            +"                                    </ul>"
//            +"                                </nav>"
            +"                            </td>"
            +"                        </tr>"
            +"                    </tfoot>"
            +"                </table>"
            +"            </div>"
            +"            <div class='col-sm-2 col-xs-0'></div>"
            +"        </div>";
</script>