<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php">James Shop</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <!--所有商品-->
            <ul class="nav navbar-nav">
                <li>
                    <a role="button" onclick="showPage('index.php?c=goods&a=index')" href="#">All Goods</a>
                </li>
            </ul>
            <!--分类菜单-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                        Goods Category<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <?php echo $page;?>
                    </ul>
                </li>
            </ul>
            <!--品牌菜单-->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Goods Brand</span><span class="caret"></span></a>
                    <ul id="brandMenu" class="dropdown-menu" role="menu">
                        <?php foreach ($brands as $brand):?>
                            <li><a href="#" onclick="showPage('index.php?c=goods&a=index&brand_id=<?php echo $brand['brand_id'];?>')"><?php echo $brand['brand_name'];?></a></li>
                        <?php endforeach;?>

                    </ul>
                </li>
            </ul>
            <!--个人菜单-->
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                    <button type="button" class="btn btn-default" onclick="searchKeyword()">Search</button>
                </form>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="more"><?php echo $username;?></span><span class="caret"></span></a>
                    <ul id="moreMenu" class="dropdown-menu" role="menu">
                        <li id="CartList"><a id="navCart" href="#" onclick="showPage('index.php?c=cart&a=index')">Shopping cart</a></li>
                        <li id="logoutList"><a id="navRegister" href="#" onclick="showLogoutDiglog()">Logout</a></li>
                        <li class="divider"></li>
                        <li>
                            <a id="time"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>