<!-- Footer - wll - 2016/6/10 -->
<div class="clear"></div>
<div class="shop_footer">
    <div class="shop_footer_link">
        <p>
            <a href="">首页</a>|
            <a href="index.php?p=admin&c=login&a=login">登录后台</a>|
            <a href="">招聘英才</a>|
            <a href="">广告合作</a>|
            <a href="">关于JamesShop</a>|
            <a href="">关于我们</a>
        </p>
    </div>
    <div class="shop_footer_copy">
        <p>Copyright 2016 JamesXia 石夏靖 Inc.,All rights reserved.</p>
    </div>
</div>
<!-- Footer End -->